div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* This is Hector's Code */
    background-color: black;
    text-transform: uppercase;
    font-family: sans-serif;
}

a {
    float: left;
    display: block;
    color: white;
    margin: auto;
    /* This is Hector's Code */
    padding: 10px 20px;
    font-size: 14px;
}

table {
    color: white;
    font-size: 8px;
    text-align: right;
}

.left {
    align-items: flex-start;
}

.center {
    align-items: center;
}

.right {
    align-items: flex-end;
}

#search {
    padding: 0px;
    width: 20px;
    filter: brightness(0) invert(1);
}

#searchb {
    background-color: #d93121;
    width: 8px;
    height: 12px;
}

#cart {
    filter: brightness(0) invert(1);
    width: 25px;
}

.logo {
    background-color: #d93121;
    font-size: 28px;
    /* This is Hector's Code */
    padding: 12px;
    width: 80px;    
    height: 60px;
}
