div {
    display: flex;
    justify-content: space-between;

    /* This is Hector's Code */
    background-color: black;
    text-transform: uppercase;
    font-family: sans-serif;
}

a {
    color: white;
    margin: auto;
    /* This is Hector's Code */
    padding: 10px 20px;
    font-size: 14px;
}

table {
    color: white;
    font-size: 8px;
    text-align: right;
}

.left {
    align-items: flex-start;
}

.center {
    align-items: center;
}

.right {
    align-items: flex-end;
}

.logo {
    background-color: #d93121;
    font-size: 24px;
}

#searchIcon {
    width: 20px;
    margin: 0;
    filter: brightness(0) invert(1);
}

#searchButtonBox {
    background-color: #d93121;
    margin: auto;
    height: 0px;
    width: 0px;
}
/* this is another comment */
#cart {
    filter: brightness(0) invert(1);
    width: 25px;
}


